
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



.main-container1{
  position: fixed;
  top: 0;
  left: 0;
  width: 220px; /* Adjust width */
  height: 100vh; /* Full height */
  background-color:white; /* Optional background */
  z-index: 1000; /* To make sure it's above other elements */
  overflow-y: hidden;
  margin-top: 80px;
  padding-left: 18px;
  
    /*width: 230px;
    height: 630px;
    padding-top:80px;
    padding-left: 15px;
    overflow:scroll; /* Hide scrollbars by default */
   /* transition: overflow 0.3s ease;
    position:relative; */
}
.main-container1:hover{
  overflow-y: scroll;
}
/* Optional: Customize scrollbar styles */
.main-container1::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}



.main-container1::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  
}

.main-container1::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Thumb color on hover */
}



.home{
    padding-left: 8rem;
    padding: .5rem;
    color: rgb(52, 50, 50);
    text-align: center;
    display:flex;
    font-weight:250px;
    font-family: 'Roboto', sans-serif;
    width: 12rem;
  
}
.home button{
  all: unset;  /* Resets everything */
  cursor: pointer;  /* Adds the pointer cursor */

}

.home img{
    margin-right: 20px;
}

.home:hover{
    background-color: rgb(232, 226, 226);
    border-radius: 5px;
   
   
}

img{
    width: 24px;
    height: 24px;


}
.Subscription-title  {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.home-title {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.explore-title{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.live{
    width: 20px;
    height: 15px;
}
hr {
    border: none;             /* Removes the default border */
    height: 1px;              /* Sets the height of the horizontal rule */
    background-color: #c9c2c2;   /* Adds a background color */
    width: 100%;               /* Controls the width of the horizontal rule */
    margin: 20px auto;        /* Adds space above and below, centers it */
  }
  
  .xhome img{
    width: 12px;
    height: 12px;
    padding-top: 2px;
    

  }